@{
	ViewData["Title"] = $"Iluminação";
	ViewData["Description"] = $"{@ConstModel.Client.Name} um eletricista perto de mim. Entre em contato.";

	var breadcrumb = new BreadcrumbModel
			{
				Title = ViewData["Title"]?.ToString(),
				Page = "Iluminação",
				Image = "lampada.png",
				ImageAlt = $"A {ConstModel.Client.Name} oferece serviços de cabeamento de rede para garantir a melhor cobertura de internet na sua residencia"
			};
}

<partial name="_Breadcrumb" model="breadcrumb" />

<div class="container-xxl py-5">

	<div class="container">

		<div class="row g-5 align-items-center">

			<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">

				<img class="img-fluid" src="~/img/iluminacao-residencial.jpg" alt="Iluminação residencial" />

			</div>

			<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">

				<div class="h-100">

					<h1 class="display-6">@ViewData["Title"]</h1>

					<p>A iluminação residencial é a escolha de luz que será aplicada nos cômodos e ambientes da sua casa, de modo a favorecer sensações estéticas e usos do dia-a-dia. </p>

					<p>Para isso, é preciso conhecer os tipos de iluminação, temperatura de cor, lâmpadas, luminárias e tudo mais que pode influenciar na iluminação do espaço.</p>

					<p>
						Um projeto de iluminação residencial busca identificar qual é a utilização adequada da iluminação artificial para valorizar a arquitetura de um ambiente e torná-lo mais funcional de acordo com seu objetivo.
					</p>

					<p>
						Ambientes empresariais, por exemplo, precisam estimular a atenção e a produtividade. Já espaços residenciais, buscam trazer aconchego e conforto. E, acredite: a iluminação adequada faz toda a diferença para transmitir essas sensações.
					</p>

					<p>
						Para alcançar esse objetivo, o profissional responsável pelo projeto luminotécnico analisa:
					</p>

					<ul>
						<li>Tipo de iluminação ideal</li>
						<li>Escolha da lâmpada</li>
						<li>Temperatura da cor</li>
						<li>Intensidade da luz</li>
						<li>Posição das lâmpadas</li>
					</ul>

					<p>
						Além de proporcionar a funcionalidade necessária para cada espaço, tudo isso também contribui para gerar economia de energia, já que a iluminação é organizada de maneira estratégica conforme a necessidade do ambiente.
					</p>

					<a class="btn btn-primary py-3 px-4" asp-controller="contato" asp-action="">Entre em Contato</a>

				</div>

			</div>

		</div>

	</div>

</div>