@{
	ViewData["Title"] = $"Serviços";
	ViewData["Description"] = $"{@ConstModel.Client.Name} um eletricista perto de mim. Entre em contato.";

	var breadcrumb = new BreadcrumbModel
			{
				Title = ViewData["Title"]?.ToString(),
				Page = "Serviços",
				Image = "lampada.png",
				ImageAlt = $"A {ConstModel.Client.Name} é seu eletricista perto de mim"
			};
}

<partial name="_Breadcrumb" model="breadcrumb" />

<div class="container-xxl py-5">

    <div class="container">

        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s">

            <h1 class="display-6">@ViewData["Title"]</h1>

            <p class="text-primary fs-5 mb-5">@ViewData["Description"]</p>

        </div>

        <div class="row g-4">

            <div class="col-lg-6 col-md-6  col-sm-6 col-12 wow fadeInUp" data-wow-delay="0.1s">

                <div class="service-item bg-light p-5">

                    <h5 class="mb-3">Substituição de Cabeamento</h5>

                    <p>
                        A substituição de cabeamento elétrico é um processo que consiste em trocar os cabos elétricos antigos por novos.
                    </p>

                    <a asp-controller="servico" asp-action="substituicaocabeamento">Leia mais <i class="fa fa-arrow-right ms-2"></i></a>

                </div>

            </div>

            <div class="col-lg-6 col-md-6  col-sm-6 col-12 wow fadeInUp" data-wow-delay="0.1s">

                <div class="service-item bg-light p-5">

                    <h5 class="mb-3">Iluminação</h5>

                    <p>
                        A iluminação residencial é a escolha de luz que será aplicada nos cômodos e ambientes da sua casa...
                    </p>

                    <a asp-controller="servico" asp-action="iluminacao">Leia mais <i class="fa fa-arrow-right ms-2"></i></a>

                </div>

            </div>

            <div class="col-lg-6 col-md-6  col-sm-6 col-12 wow fadeInUp" data-wow-delay="0.1s">

                <div class="service-item bg-light p-5">

                    <h5 class="mb-3">Projeto Elétrico</h5>

                    <p>
                        Um projeto elétrico é um conjunto de informações, cálculos, desenhos e detalhes referentes a uma instalação elétrica...
                    </p>

                    <a asp-controller="servico" asp-action="projetoeletrico">Leia mais <i class="fa fa-arrow-right ms-2"></i></a>

                </div>

            </div>

            <div class="col-lg-6 col-md-6  col-sm-6 col-12 wow fadeInUp" data-wow-delay="0.1s">

                <div class="service-item bg-light p-5">

                    <h5 class="mb-3">Cabeamento de Rede</h5>

                    <p>
                        Cabeamento de rede é um conjunto de cabos e conectores que permitem a transmissão de dados entre dispositivos...
                    </p>

                    <a asp-controller="servico" asp-action="cabeamentorede">Leia mais <i class="fa fa-arrow-right ms-2"></i></a>

                </div>

            </div>

        </div>

    </div>

</div>