@{
	ViewData["Title"] = $"Projeto Elétrico";
	ViewData["Description"] = $"{@ConstModel.Client.Name} um eletricista perto de mim. Entre em contato.";

	var breadcrumb = new BreadcrumbModel
			{
				Title = ViewData["Title"]?.ToString(),
				Page = "Projeto Elétrico",
				Image = "lampada.png",
				ImageAlt = $"A {ConstModel.Client.Name} oferece serviços de cabeamento de rede para garantir a melhor cobertura de internet na sua residencia"
			};
}

<partial name="_Breadcrumb" model="breadcrumb" />

<div class="container-xxl py-5">

	<div class="container">

		<div class="row g-5 align-items-center">

			<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">

				<img class="img-fluid" src="~/img/projeto-eletrico.jpg" alt="Projetos eletricos para sua casa. Projetos sobre medida para você" />

			</div>

			<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">

				<div class="h-100">

					<h1 class="display-6">@ViewData["Title"]</h1>

					<p>
						Um projeto elétrico é um conjunto de informações, cálculos, desenhos e detalhes referentes a uma instalação elétrica, máquina ou equipamento eletroeletrônico. Essas informações podem ser um diagrama elétrico, tabela de dados, layout, desenhos técnicos das peças ou equipamentos, listagem dos componentes da instalação e outros.
					</p>

					<p>
						O projeto elétrico é a representação gráfica e escrita de uma instalação elétrica e de todos os detalhes que fazem parte dessa instalação. Assim, o responsável pelo projeto elétrico faz esse projeto a partir da planta feita pelo engenheiro ou arquiteto.

					</p>

					<p class="text-primary fs-5 mb-4">
						Qual a vantagem de contratar um eletricista para fazer o projeto elétrico?
					</p>

					<p>
						Contratar um eletricista para fazer o projeto elétrico pode trazer muitas vantagens. Um eletricista profissional pode garantir que o projeto elétrico seja feito corretamente e de acordo com as normas técnicas e de segurança.
					</p>

					<p>
						Além disso, um eletricista pode ajudar a escolher os melhores materiais e equipamentos para a instalação elétrica, o que pode resultar em economia de energia e dinheiro no longo prazo.

					</p>

					<a class="btn btn-primary py-3 px-4" asp-controller="contato" asp-action="">Entre em Contato</a>

				</div>

			</div>

		</div>

	</div>

</div>