@{
	ViewData["Title"] = $"Substituição de Cabeamento";
	ViewData["Description"] = $"{@ConstModel.Cliente.Nome} um eletricista perto de mim. Entre em contato.";

	var breadcrumb = new BreadcrumbModel
			{
				Title = ViewData["Title"]?.ToString(),
				Page = "Substituição de Cabeamento",
				Image = "lampada.png",
				ImageAlt = $"A {ConstModel.Cliente.Nome} oferece serviços de cabeamento de rede para garantir a melhor cobertura de internet na sua residencia"
			};
}

<partial name="_Breadcrumb" model="breadcrumb" />

<div class="container-xxl py-5">

	<div class="container">

		<div class="row g-5 align-items-center">

			<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">

				<img class="img-fluid" src="~/img/substituicao-cabeamento-eletrico.jpg" alt="Substituição de cabeamento eletrico ou manutenção preventiva" />

			</div>

			<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">

				<div class="h-100">

					<h1 class="display-6">@ViewData["Title"]</h1>

					<p>
						A substituição de cabeamento elétrico é um processo que consiste em trocar os cabos elétricos antigos por novos.
					</p>

					<p>
						Isso pode ser necessário quando os cabos antigos estão danificados ou desgastados, ou quando a instalação elétrica precisa ser atualizada.
					</p>

					<p>
						A substituição pode ser feita em toda a instalação elétrica ou apenas em partes dela. O processo envolve a remoção dos cabos antigos e a instalação de novos cabos.
					</p>

					<p>
						É importante que o trabalho seja realizado por um eletricista qualificado para garantir que a instalação elétrica esteja em conformidade com as normas de segurança e qualidade
					</p>

					<p class="text-primary fs-5 mb-4">
						Quando devemos substituir o cabeamento elétrico?
					</p>

					<p>
						Os cabos elétricos têm uma vida útil máxima de 40 anos. No entanto, a substituição pode ser necessária antes desse período se os cabos estiverem danificados ou desgastados, ou se a instalação elétrica precisar ser atualizada.
					</p>

					<p>
						É importante que o trabalho seja realizado por um eletricista qualificado para garantir que a instalação elétrica esteja em conformidade com as normas de segurança e qualidade.
					</p>

					<p class="text-primary fs-5 mb-4">
						Quais são os sinais de que o cabeamento elétrico precisa ser substituído?
					</p>

					<p>
						Os sinais de que o cabeamento elétrico precisa ser substituído incluem cabos desencapados, emendas expostas ou fios aquecendo em excesso. Além disso, se a fiação for antiga e não atender aos padrões de segurança atuais, é fundamental considerar a substituição por uma fiação mais moderna e segura.
					</p>

					<p class="text-primary fs-5 mb-4">
						Como posso prolongar a vida útil dos cabos elétricos?
					</p>

					<p>
						Para prolongar a vida útil dos cabos elétricos, é importante evitar sobrecargas e curtos-circuitos. Além disso, é importante realizar manutenção preventiva regularmente para identificar e corrigir problemas antes que eles se tornem graves.
					</p>

					<a class="btn btn-primary py-3 px-4" asp-controller="contato" asp-action="">Entre em Contato</a>

				</div>

			</div>

		</div>

	</div>

</div>